@using DreamWallHub.Core.ViewModels
@model IEnumerable<AllProjectViewModel>

<section id="home" class="home bg-black fix">
    <div class="container">
        <div class="row">
            @foreach (var project in Model)

            {
                <div class="col-lg-3">
                    @if (project.DesignPictureUrl != null)
                    {
                        <div class="anime__details__pic set-bg" data-setbg="@project.DesignPictureUrl">
                            @*<div class="comment"><i class="fa fa-comments"></i> @Model.Anime.Reviews.Count()</div>*@
                        </div>
                    }
                    else
                    {
                        @*<div class="anime__details__pic set-bg" data-setbg="~/img/default-150x150">
                            <div class="comment"><i class="fa fa-comments"></i> @project.Anime.Reviews.Count</div>
                            </div>*@
                    }
                </div>
                <div class="col-lg-9">
                    <h3>@project.ProjectName</h3>
                    <br />
                    <p>
                        @project.Description
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><span>Client Name:</span> @project.ClientName</li>

                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><span>Country:</span> @project.Country </li>

                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>